:root {
  --primary: #000;
  --secondary: #fff;
  --shade: rgba(0, 0, 0, 0.1);
}

body {
  background-color: var(--shade);
  padding: 40px;
}

.top-section {
  background-color: var(--secondary);
  padding: 40px;
}

h1 {
  padding: 0;
  margin: 0;
}
